@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Righteous&family=Rowdies:wght@300;400;700&family=Saira:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

        .monoton-regular {
            font-family: "Monoton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

.flip_card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip_card img {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip_card .back {
    transform: rotateY(180deg);
}

.flip_card.flip {
    transform: rotateY(180deg);
}   

